:root {
  /* fonts */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* text colors */
  --accent-cl: #ff6c00;

  /* mode light */
  --primary-txt_mode-light: #555555;
  --secondary-txt_mode-light: #303030;
  /* mode dark */
  --main-txt_mode-dark: #9da4bd;
  --primary-txt_mode-dark: rgba(157, 164, 189, 0.6);
  --secondary-txt_mode-dark: #ffffff;

  --disable: rgba(157, 164, 189, 0.6);

  /* bg colors */
  --primary-bg_mode-light: #f7f7f7;
  --primary-bg_mode-dark: #191c26;

  /* --indent: 30px; */

  /* others */
  --transition-fast: 300ms ease-in-out;
  --transition-slow: 600ms ease-in-out;
}

/* Common styles */
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--primary-txt_mode-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* Пример стилизации svg иконки  */

.link {
  color: #555555;
}

.icon {
  fill: currentColor;
}

.link:hover {
  color: #ff6c00;
}

.link:hover .icon {
  fill: #ff6c00;
}

.wrapper {
  position: relative;
  display: inline-block;
  /* outline: 1px solid red; */
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 30px;
  margin-top: 40px;
}

.label {
  position: absolute;
  top: 30px;
  left: 20px;
  display: block;
  color: #9da4bd;

  transition: transform 300ms ease;
}

.form-input {
  display: block;
  padding: 5px 20px;
  outline: transparent;
  border: 1px solid #191c26;
  border-radius: 10px;
}

.form-input::placeholder {
  color: transparent;
}

.form-input:focus::placeholder {
  color: #555555;
  transition: color 300ms ease 200ms;
}

.alert {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  color: red;
  opacity: 0;

  transition: opacity 300ms ease 200ms;
}

.success {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  color: green;
  opacity: 0;

  transition: opacity 300ms ease 400ms;
}

.form-input:focus + .label,
.form-input:not(:placeholder-shown) + .label {
  transform: translateY(-30px) scale(0.7);
}

.form-input:invalid {
  border-color: red;
}

.form-input:invalid ~ .alert {
  opacity: 1;
}

.form-input:not(:placeholder-shown):focus:valid ~ .success {
  opacity: 1;
}

