/* About section */
.about-list {
  display: flex;

  @include mq(mobile-only) {
    display: none;
  }

  @include mq(tablet-only) {
    flex-direction: column;
  }
}

.about-item {
  @include mq(tablet-only) {
    width: 330px;
    height: 235px;
  }
}

.about-item:not(:last-child) {
  @include mq(tablet-only) {
    margin-bottom: 30px;
  }

  @include mq(desktop) {
    margin-right: 30px;
  }
}

.about-img {
  height: 100%;
  object-fit: cover;
}

.about-container {
  display: flex;
}

.about-wrapper {
  width: 500px;
  margin-left: auto;

  .title {
    @include mq(notDesktop) {
      font-size: 28px;
    }
  }

  .subtitle {
    margin-bottom: 20px;

    @include mq(notDesktop) {
      font-size: 16px;
    }
  }
}

.about-text {
  margin-bottom: 40px;
}
