/* Contacts section */
.contacts {
    color: var(--main-txt_mode-dark);
    background-color: var(--primary-bg_mode-dark);

    background-repeat: no-repeat;
    background-position: top 50% left calc(50% + 322px);
    background-size: 625px 644px;

    background-image: url(../images/contacts/contacts-bg.png);
    background-image: -webkit-image-set(url(../images/contacts/contacts-bg.webp) 1x);

    @include mq(retina) {
      background-image: url(../images/contacts/contacts-bg@2x.png);
      background-image: -webkit-image-set(url(../images/contacts/contacts-bg@2x.webp) 2x);
    }
  }

  .contacts-container {
    display: flex;
    column-gap: 40px;
  }

  .contacts-left-side,
  .contacts-right-side {
    flex-basis: 50%;
  }

  .contacts .uppertitle-mode-dark {
    color: var(--secondary-txt_mode-dark);
  }

  .address-list {
    width: 270px;
    margin-bottom: 70px;
  }

  .address-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .address-link {
    position: relative;

    display: block;
    padding-left: 40px;
  }

  .address-link,
  .address-time {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: var(--main-txt_mode-dark);
  }

  .address-icon {
    position: absolute;
    top: 3px;
    left: 0;

    fill: transparent;
    stroke: var(--main-txt_mode-dark);
  }
