.uppertitle {
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  // font-weight: 600;
  // font-size: 11px;
  // line-height: 1.36;
  // letter-spacing: 0.1em;

  @include fonts(11px, 15px, 600, 0.1em);
  text-transform: uppercase;
}

.uppertitle::before {
  margin-right: 20px;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #9da4bd;
}

.uppertitle--mode-dark {
  color: var(--primary-txt_mode-dark);
}

.uppertitle--mode-dark::before {
  background: rgba(157, 164, 189, 0.4);
}

.uppertitle--mode-light {
  color: var(--primary-txt_mode-light);
}

.uppertitle--mode-light::before {
  background: var(--secondary-txt_mode-light);
}

.title {
  font-family: var(--secondary-font);
  // font-size: 42px;
  // line-height: 49px;
  // letter-spacing: 0.05em;

  @include fonts(42px, 48px, 400, 0.05em);

  color: var(--secondary-txt-cl);
}

.title--mode-dark {
  margin-bottom: 44px;
  color: var(--secondary-txt_mode-dark);
  margin-bottom: 44px;
}

.title--mode-light {
  margin-bottom: 20px;
  color: var(--secondary-txt_mode-light);
  margin-bottom: 20px;
}

.subtitle {
  // font-size: 18px;
  // font-weight: 400;
  // line-height: 1.67;
  // letter-spacing: 0.02em;

  @include fonts(18px, 30, 400, 0.02em);

  color: var(--main-txt-cl);
}

.subtitle--mode-dark {
  color: var(--primary-txt_mode-dark);
}
.subtitle--mode-light {
  color: var(--primary-txt_mode-light);
}
