/* Hero section */
.hero__container {
    display: flex;
  }

  .hero__left-side {
    position: relative;
    width: 100px;
  }

  .hero__list {
    display: flex;
    align-items: center;
  }

  .hero__list--rotate {
    position: absolute;
    left: 50%;
    bottom: 40px;

    transform: rotate(-90deg);
    transform-origin: center left;
  }

  .hero__list:before {
    margin-right: 40px;
    content: "";
    width: 60px;
    height: 1px;

    background-color: var(--secondary-txt_mode-light);
  }

  .hero__item:not(:last-child) {
    margin-right: 40px;
  }

  .hero__right-side {
    position: relative;

    padding-top: 272px;
    padding-bottom: 206px;
    padding-left: 100px;
    flex-grow: 1;

    background-color: #191c26;
    background-image: url(../images/hero/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero__uppertitle {
    margin-bottom: 20px;
  }

  .hero__title {
    margin-bottom: 20px;
  }

  .hero__link {
    display: block;
    color: var(--secondary-txt_mode-light);

    transition: color var(--transition-fast);
  }

  .hero__link:hover,
  .hero__link:focus {
    color: var(--accent-cl);
  }

  .hero__title {
    font-family: var(--secondary-font);
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;

    color: var(--secondary-txt_mode-dark);
  }

  .hero__subtitle {
    width: 486px;
  }

  .hero__slider-btn:not(:last-child) {
    margin-right: 26px;
  }

  .hero__slider-btns {
    position: absolute;
    right: 0;
    bottom: 40px;
  }
