/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity var(--transition-fast), visibility var(--transition-fast);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 500px;
  height: 400px;

  background-color: #fff;
  border-radius: 20px;

  transform: rotate3d(-1, 1, 0, 0deg) translate(-50%, -50%);
  transition: transform var(--transition-slow);
}

.backdrop.is-hidden .modal {
  transform: rotate3d(-1, 1, 0, 180deg);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border: 1px solid var(--primary-bg_mode-dark);
  border-radius: 50%;
  cursor: pointer;
}
